<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css"
          href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/config.js"></script>
</head>

<body ng-app="blogApp">
    <div id="main" class="smoke">
        <!-- Header -->
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1 id="logo_header">
                        <span id="g" class="flickering-effect"></span>
                        <span id="o"></span>
                        <span id="v"></span>
                        <span id="e"></span>
                        <span id="r"></span>
                        <span id="n"></span>
                        <span id="o2"></span>
                        <span id="r2"></span>
                    </h1>
                </div>
            </div>

            <!-- Navigation -->
            <div id="menubar">
                <ul id="menu">
                    <li><a href="/#/posts">Call First Page</a></li>
                    <li>@Html.ActionLink("Contact", "Contact")</li>
                    <li>@Html.ActionLink("About Me", "AboutMe")</li>
                </ul>
            </div>

        </div>

        <!-- Site Content -->
        <div id="site_content" ng-view>
            @RenderBody()
        </div>

        <div ng-view> </div>

        <!-- Footer -->
        <div id="footer">
            Copyright @DateTime.Now.Year (c) BlogSpot All Rights Reserved
        </div>
    </div>
</body>
</html>